In [1]:
# 1

In [2]:
# Her bir salam çeşidi için normallik varsayımının kontrolü:

In [3]:
import numpy as np
from scipy.stats import shapiro
import statistics as st

In [4]:
A_salam=np.array([1,8,7,7,8,6,7,6])
shapiro(A_salam)

ShapiroResult(statistic=0.7164304852485657, pvalue=0.0034505012445151806)

In [5]:
B_salam=np.array([6,7,5,6,7,7,8,5])
shapiro(B_salam)

ShapiroResult(statistic=0.9116305112838745, pvalue=0.36568841338157654)

In [6]:
C_salam=np.array([8,9,9,10,9,9,8,7])
shapiro(C_salam)

ShapiroResult(statistic=0.9055967330932617, pvalue=0.3240951895713806)

In [7]:
D_salam=np.array([7,8,8,6,8,9,7,5])
shapiro(D_salam)

ShapiroResult(statistic=0.9380493760108948, pvalue=0.5919957160949707)

In [8]:
# Her bir salam çeşidi için özet istatistikler:

In [9]:
import pandas as pd

In [10]:
df_A_salam=pd.DataFrame(A_salam)

In [11]:
df_A_salam.rename(columns={0:'puanlar'}, inplace=True)
df_A_salam

   puanlar
0        1
1        8
2        7
3        7
4        8
5        6
6        7
7        6

In [12]:
df_A_salam.describe()

        puanlar
count  8.000000
mean   6.250000
std    2.251983
min    1.000000
25%    6.000000
50%    7.000000
75%    7.250000
max    8.000000

In [13]:
df_B_salam=pd.DataFrame(B_salam)

In [14]:
df_B_salam.rename(columns={0:'puanlar'}, inplace=True)
df_B_salam

   puanlar
0        6
1        7
2        5
3        6
4        7
5        7
6        8
7        5

In [15]:
df_B_salam.describe()

       puanlar
count  8.00000
mean   6.37500
std    1.06066
min    5.00000
25%    5.75000
50%    6.50000
75%    7.00000
max    8.00000

In [16]:
df_C_salam=pd.DataFrame(C_salam)

In [17]:
df_C_salam.rename(columns={0:'puanlar'}, inplace=True)
df_C_salam

   puanlar
0        8
1        9
2        9
3       10
4        9
5        9
6        8
7        7

In [18]:
df_C_salam.describe()

         puanlar
count   8.000000
mean    8.625000
std     0.916125
min     7.000000
25%     8.000000
50%     9.000000
75%     9.000000
max    10.000000

In [19]:
df_D_salam=pd.DataFrame(D_salam)

In [20]:
df_D_salam.rename(columns={0:'puanlar'}, inplace=True)
df_D_salam

   puanlar
0        7
1        8
2        8
3        6
4        8
5        9
6        7
7        5

In [21]:
df_D_salam.describe()

       puanlar
count  8.00000
mean   7.25000
std    1.28174
min    5.00000
25%    6.75000
50%    7.50000
75%    8.00000
max    9.00000

In [22]:
# 2

In [23]:
# Her bir budama yöntemi için normallik varsayımının kontrolü:

In [24]:
A_budama=np.array([790,810,800,815,805,825])
shapiro(A_budama)

ShapiroResult(statistic=0.9999256134033203, pvalue=0.9999999403953552)

In [25]:
B_budama=np.array([820,815,810,820,815,805])
shapiro(B_budama)

ShapiroResult(statistic=0.9075791835784912, pvalue=0.42066285014152527)

In [26]:
C_budama=np.array([770,785,765,780,800,770])
shapiro(C_budama)

ShapiroResult(statistic=0.9139266610145569, pvalue=0.46272867918014526)

In [27]:
D_budama=np.array([760,770,750,770,770,767])
shapiro(D_budama)

ShapiroResult(statistic=0.7749823927879333, pvalue=0.03459442779421806)

In [28]:
# Her bir budama yöntemi için özet istatistikler:

In [29]:
df_A_budama=pd.DataFrame(A_budama)

In [30]:
df_A_budama.rename(columns={0:'puanlar'}, inplace=True)
df_A_budama

   puanlar
0      790
1      810
2      800
3      815
4      805
5      825

In [31]:
df_A_budama.describe()

          puanlar
count    6.000000
mean   807.500000
std     12.144958
min    790.000000
25%    801.250000
50%    807.500000
75%    813.750000
max    825.000000

In [32]:
df_B_budama=pd.DataFrame(B_budama)

In [33]:
df_B_budama.rename(columns={0:'puanlar'}, inplace=True)
df_B_budama

   puanlar
0      820
1      815
2      810
3      820
4      815
5      805

In [34]:
df_B_budama.describe()

          puanlar
count    6.000000
mean   814.166667
std      5.845226
min    805.000000
25%    811.250000
50%    815.000000
75%    818.750000
max    820.000000

In [35]:
df_C_budama=pd.DataFrame(C_budama)

In [36]:
df_C_budama.rename(columns={0:'puanlar'}, inplace=True)
df_C_budama

   puanlar
0      770
1      785
2      765
3      780
4      800
5      770

In [37]:
df_C_budama.describe()

          puanlar
count    6.000000
mean   778.333333
std     12.909944
min    765.000000
25%    770.000000
50%    775.000000
75%    783.750000
max    800.000000

In [38]:
df_D_budama=pd.DataFrame(D_budama)

In [39]:
df_D_budama.rename(columns={0:'puanlar'}, inplace=True)
df_D_budama

   puanlar
0      760
1      770
2      750
3      770
4      770
5      767

In [40]:
df_D_budama.describe()

          puanlar
count    6.000000
mean   764.500000
std      8.093207
min    750.000000
25%    761.750000
50%    768.500000
75%    770.000000
max    770.000000

In [41]:
# 3

In [42]:
# A salam çeşidi için İşaret testi:

In [43]:
from scipy.stats import binomtest

In [44]:
median_hipotez=7

In [45]:
nPlus=len(A_salam[A_salam > median_hipotez])

In [46]:
nNeg=len(A_salam[A_salam < median_hipotez])

In [47]:
n=nPlus+nNeg

In [48]:
binomtest(nPlus, n, p=0.5, alternative='greater')

BinomTestResult(k=2, n=5, alternative='greater', proportion_estimate=0.4, pvalue=0.8125)

In [49]:
# A salam çeşidi için Wilcoxon testi:

In [50]:
from scipy.stats import wilcoxon

In [51]:
wilcoxon(A_salam - median_hipotez, alternative='greater')

C:\ProgramData\Anaconda3\lib\site-packages\scipy\stats\morestats.py:3141: UserWarning: Exact p-value calculation does not work if there are ties. Switching to normal approximation.
  warnings.warn("Exact p-value calculation does not work if there are "
C:\ProgramData\Anaconda3\lib\site-packages\scipy\stats\morestats.py:3155: UserWarning: Sample size too small for normal approximation.
  warnings.warn("Sample size too small for normal approximation.")

WilcoxonResult(statistic=5.0, pvalue=0.7602499389065233)

In [52]:
# 4

In [53]:
# B ve D salam çeşitleri için Mann-Whitney testi:

In [54]:
from scipy.stats import mannwhitneyu

In [55]:
mannwhitneyu(B_salam, D_salam, alternative='two-sided')

MannwhitneyuResult(statistic=18.5, pvalue=0.15999227886797784)

In [56]:
# 5

In [57]:
# A ve C budama yöntemi için Wilcoxon testi:

In [58]:
from scipy.stats import ranksums

In [59]:
ranksums(A_budama, C_budama, alternative='less')

RanksumsResult(statistic=2.6421145377839377, pvalue=0.9958804905871377)

In [60]:
# 6

In [61]:
# Salam çeşitleri için Kruskal-Wallis testi:

In [62]:
from scipy.stats import kruskal

In [63]:
kruskal(A_salam, B_salam, C_salam, D_salam)

KruskalResult(statistic=13.076636904761914, pvalue=0.004473770995030885)

In [64]:
# Salam çeşitleri için Post-Hoc testi:

In [65]:
pip install scikit-posthocs

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: scikit-posthocs in c:\users\yaren\appdata\roaming\python\python39\site-packages (0.7.0)
Requirement already satisfied: pandas>=0.20.0 in c:\programdata\anaconda3\lib\site-packages (from scikit-posthocs) (1.4.2)
Requirement already satisfied: numpy in c:\programdata\anaconda3\lib\site-packages (from scikit-posthocs) (1.21.5)
Requirement already satisfied: scipy in c:\programdata\anaconda3\lib\site-packages (from scikit-posthocs) (1.7.3)
Requirement already satisfied: seaborn in c:\programdata\anaconda3\lib\site-packages (from scikit-posthocs) (0.11.2)
Requirement already satisfied: matplotlib in c:\programdata\anaconda3\lib\site-packages (from scikit-posthocs) (3.5.1)
Requirement already satisfied: statsmodels in c:\programdata\anaconda3\lib\site-packages (from scikit-posthocs) (0.13.2)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas>=0.20.0->scikit-posthocs) (2021.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\programdata\anaconda3\lib\site-packages (from pandas>=0.20.0->scikit-posthocs) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas>=0.20.0->scikit-posthocs) (1.16.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib->scikit-posthocs) (1.3.2)
Requirement already satisfied: packaging>=20.0 in c:\programdata\anaconda3\lib\site-packages (from matplotlib->scikit-posthocs) (21.3)
Requirement already satisfied: fonttools>=4.22.0 in c:\programdata\anaconda3\lib\site-packages (from matplotlib->scikit-posthocs) (4.25.0)
Requirement already satisfied: pyparsing>=2.2.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib->scikit-posthocs) (3.0.4)
Requirement already satisfied: cycler>=0.10 in c:\programdata\anaconda3\lib\site-packages (from matplotlib->scikit-posthocs) (0.11.0)
Requirement already satisfied: pillow>=6.2.0 in c:\programdata\anaconda3\lib\site-packages (from matplotlib->scikit-posthocs) (9.0.1)
Requirement already satisfied: patsy>=0.5.2 in c:\programdata\anaconda3\lib\site-packages (from statsmodels->scikit-posthocs) (0.5.2)
Note: you may need to restart the kernel to use updated packages.

In [66]:
import scikit_posthocs as sp

In [67]:
veri_salam=np.array([A_salam, B_salam, C_salam, D_salam])

In [68]:
sp.posthoc_dunn(veri_salam, p_adjust='bonferroni')

          1      2         3         4
1  1.000000  1.000  0.025091  1.000000
2  1.000000  1.000  0.005000  1.000000
3  0.025091  0.005  1.000000  0.287843
4  1.000000  1.000  0.287843  1.000000

In [69]:
# 7

In [70]:
# Budama yöntemleri için Friedman testi:

In [71]:
from scipy import stats as st

In [72]:
st.friedmanchisquare(A_budama, B_budama, C_budama, D_budama)

FriedmanchisquareResult(statistic=17.0, pvalue=0.0007067423923370282)

In [73]:
# Budama yöntemleri için Post-Hoc testi:

In [74]:
veri_budama=np.array([A_budama, B_budama, C_budama, D_budama])

In [75]:
sp.posthoc_nemenyi_friedman(veri_budama.T)

          0         1         2         3
0  1.000000  0.783106  0.399914  0.019135
1  0.783106  1.000000  0.066476  0.001000
2  0.399914  0.066476  1.000000  0.532081
3  0.019135  0.001000  0.532081  1.000000